@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

a:hover {
    transition: all 2s;
    transform: scale(1.1);
}

header {
    display: grid;
}

.nav-ul {
    display: grid;
}

.cont-header {
    display: flex;
}

.header-img {
    width: 100%;
}

.header-h1 {
    color: #02a16c;
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
}

.cont-h1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 39%, rgba(236, 236, 236, 1) 80%);
}

.nav-item {
    margin-left: 9rem;
}

.color {
    background-color: #a2e2cd;
}

.main-home-padre {
    padding: 0rem 0rem 0rem 1rem;
    display: flex;
    flex-direction: row;
}

.main-home-img {
    position: relative;
    bottom: -10%;
}

.main-home-p {
    font-size: 1.5rem;
    padding: 2rem 2rem 0rem 2rem;
}

.tranf:hover {
    display: flex;
    justify-content: center;
    transition: all 2s;
    transform: scale(1.1);
}

.cont-tranf {
    display: flex;
    justify-content: center;
}

.tranf1 {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-sala {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.titulo-servicios {
    color: #02a16c;
    text-align: center;
    font-size: 4rem;
    padding-top: 7rem;
}

.sub-titulo {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 4rem 2rem 4rem;
}

.div-Asistencia {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 6rem 3rem 6rem;
}

.conten-img {
    padding-top: 5px;
    float: left;
}

.img-asistencia {
    height: 9rem;
    padding-right: 1rem;
}

@media (max-width: 837px) {
    .img-asistencia {
        height: 9rem;
        padding-right: 0rem;
    }
}

.conten-t {
    text-align: left;
}

.t-asistencia {
    color: #02a16c;
    font-size: 1.5rem;
    margin: 1rem 1rem 0rem 1rem;
}

.conten-p {
    padding: 0rem 1rem 1rem 1rem;
}

.p-asistencia {
    text-align: center;
    font-size: 1rem;
}


/*sections instalaciones */

.content-inst {
    display: flex;
}

.div-Asistencia-I {
    margin: 1rem 1rem 1rem 1rem;
}

.conten-img-I {
    text-align: center;
}

.conten-t-I {
    text-align: center;
}

.conten-p-I {
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
}

.main-inst {
    margin: 2rem 0rem 5rem 0rem;
}

.href {
    text-align: center;
    font-size: 2rem;
}

.iframe {
    width: 100%;
}

.map {
    margin: 5rem 0rem 4rem 0rem;
}

.section-home {
    display: flex;
    gap: 1.5rem;
    width: 80%;
    margin: auto;
}

.section-home-p {
    margin-top: -3rem;
    font-size: 1rem;
}

.redes {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.redes-icon {
    cursor: pointer;
    font-size: 2rem;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 10px;
}

#galeria img {
    width: 100%;
    height: 250px;
}

#galeria img:hover {
    border: 5px solid rgb(255, 255, 255);
}

.instalaciones-h2 {
    color: #1c1855;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    padding-bottom: 2.5rem;
    width: 70%;
}

.imgservicios {
    width: 100%;
}

.imginstalaciones {
    width: 100%;
}

.footer {
    background: rgb(197, 236, 198);
    background: linear-gradient(0deg, rgba(197, 236, 198, 1) 0%, rgba(255, 255, 255, 1) 80%);
    text-align: center;
    margin-bottom: 0;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
}

#boton {
    background: #31284a;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

@media (max-width: 837px) {
    .div-Asistencia {
        border: 4px solid #02a16c;
        ;
        display: flex;
        flex-direction: column;
        float: left;
        margin: 1rem 6rem 4rem 6rem;
    }
    .conten-img {
        text-align: center;
    }
    .conten-t {
        margin-top: 1rem;
    }
    .conten-p {
        text-align: center;
    }
    .t-asistencia {
        text-align: center;
        color: #02a16c;
        font-size: 1.5rem;
    }
    .p-asistencia {
        text-align: inherit;
        font-size: 1rem;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .content-inst {
        display: flex;
        flex-direction: column;
    }
    .div-Asistencia-I {
        margin: 1rem 4rem 1rem 4rem;
    }
    .conten-img-I {
        text-align: center;
    }
    .conten-t-I {
        text-align: center;
    }
    .conten-p-I {
        text-align: center;
        margin: 1rem 1rem 1rem 1rem;
    }
}

@media (max-width: 768px) {
    .header-h1 {
        font-size: 4rem;
    }
}

@media (max-width: 668px) {
    .header-h1 {
        font-size: 3rem;
    }
}

@media (max-width: 568px) {
    .header-h1 {
        font-size: 2rem;
    }
}

@media (max-width: 840px) {
    .nav-link {
        font-size: 1.6rem;
    }
}

@media (max-width: 665px) {
    .nav-link {
        font-size: 1.4rem;
    }
}

@media (max-width: 580px) {
    .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 492px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .main-home-padre {
        display: flex;
        flex-direction: column;
    }
    .main-home-img {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .titulo-servicios {
        font-size: 3rem;
    }
}

@media (max-width: 837px) {
    .img-asistencia {
        height: 9rem;
        padding-right: 0rem;
    }
}