@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-ul {
    display: grid;
}

.header-img {
    display: block;
    width: 100%;
}

.header-h1 {
    color: #02a16c;
    text-align: center;
    font-size: 6rem;
    padding: 1rem;
}

.cont-h1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 39%, rgba(236, 236, 236, 1) 80%);
}

.nav {
    background-color: #02a16c;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 0rem;
}

.main-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-home-img {
    margin-left: 1rem;
}

.main-home-p {
    font-size: 1.5rem;
    padding: 2rem 2rem 5rem 2rem;
}

.img-sala {
    border-radius: 50%;
    height: 600px;
    width: 600px;
}

.titulo-servicios {
    color: #02a16c;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
}

.sub-titulo {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}

.div-Asistencia {
    margin: 1rem 1rem 1rem 1rem;
}

.div-a2 {
    display: flex;
    flex-direction: row;
}

.img-asistencia {
    width: 11rem;
    height: 11rem;
}

.t-asistencia {
    display: flex;
    color: #02a16c;
    text-align: left;
    font-size: 2rem;
    margin-left: 1rem;
}

.p-asistencia {
    font-size: 1rem;
    margin: 1rem 10rem 1rem 0rem;
}

.href {
    text-align: center;
    font-size: 2rem;
}

.sect-ser {
    margin: 1rem 1rem 1rem 1rem;
}

.iframe {
    width: 100%;
}

.map {
    margin: 5rem 0rem 4rem 0rem;
}

.section-home {
    display: flex;
    gap: 1.5rem;
    width: 80%;
    margin: auto;
}

.section-home-p {
    margin-top: -3rem;
    font-size: 1rem;
}

.footer {
    background: rgb(197, 236, 198);
    background: linear-gradient(0deg, rgba(197, 236, 198, 1) 0%, rgba(255, 255, 255, 1) 80%);
    text-align: center;
    margin-bottom: 2rem;
}

.redes {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.redes-icon {
    cursor: pointer;
    font-size: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 15px;
    justify-items: center;
}

.galeria-img {
    border: 4px solid rgb(130, 198, 130);
    width: 300px;
    height: 250px;
}

.galeria-video {
    display: block;
    margin: auto;
    padding: 3rem 0;
    width: 50%;
    aspect-ratio: 16/9;
}

.instalaciones-h2 {
    color: #1c1855;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    padding-bottom: 2.5rem;
    width: 70%;
}

.imgservicios {
    width: 100%;
}

.imginstalaciones {
    width: 100%;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
}

#boton {
    background: #31284a;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .main-home {
        flex-wrap: nowrap;
    }
}

@media (max-width: 768px) {
    .nav-ul {
        flex-direction: column;
    }
}